{{> header}}
		<header id="header">
			<h1>{{ title }}</h1>
		</header>
		
		<div class="status-wrap cf">
			{{#each status.tests}}
				<a href="/test/{{ id }}">
					<div class="status-cell cf">
						<div class="status-node status-node-{{ status.shortcode }}">
							<h2 class="status-title">{{ name }}</h2>
							<ul class="status-stats">
								<li>{{percentage passCount totalCount}}% pass</li>
								<li>{{percentage errorCount totalCount}}% error</li>
								<li>{{percentage warnCount totalCount}}% warn</li>
							</ul>
						</div>
					</div>
				</a>
			{{/each}}

			{{#each status.collections}}
				{{#each tests}}
					<a href="/test/{{ id }}">
						<div class="status-cell cf">
							<div class="status-node status-node-{{ status.shortcode }}">
								<h2 class="status-title">{{ name }}</h2>
								<ul class="status-stats">
									<li>{{percentage passCount totalCount}}% pass</li>
									<li>{{percentage errorCount totalCount}}% error</li>
									<li>{{percentage warnCount totalCount}}% warn</li>
								</ul>
							</div>
						</div>
					</a>
				{{/each}}
			{{/each}}
		</div>
{{> footer}}